<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4e7b1f46-de3a-4db8-b7f8-248e3000810a" Alias="User Picker" Level="1">
  <Info>
    <Name>User Picker</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>